

h1 a{
	color: #23CF5F;
	font-weight: 100;
}

#search-box{
	background-color: #23CF5F;
	padding: 20px ;
}

#search-box label{
	font-size: 3em;
	color: #fff;
	font-weight: 100;
}

.result-box{
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  border: 5px solid #fff;
  border-top: none;
  border-bottom: none;
  background-color: #CEF4DC;
}

.result-box a:hover{
  text-decoration: none;
}


.result-box a h3{
  color: #fff;
  font-weight: 400;
  text-shadow: 0px 1px 2px #000;
  font-size: 3em;
  margin:0;
  width: ;
  text-align: left;
}

.result-box a:hover h3{
  text-decoration: none;
  color: #000;
  text-shadow: 0px 1px 2px #fff;
}

.result-box:after .fa-user:before {
    font-size: 6em;
    line-height: 2.2em;
    color: #fff;
}

.clear-both{
  clear: both;
}



@media (min-width: 768px) {
    .result-box{
      min-height: 260px;
      padding-bottom: inherit;
    }
}

