<!DOCTYPE html>
<html>
<head>
  <title>Spotisearcher</title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <base href="/">
</head>
<body ng-app="spotisearcher">
  <div class='container-fluid' style='padding: 20px 10%;'>
    <div class='row'>

      <header class='col-xs-12 col-sm-6 col-md-6 '>
        <h1>
          <a href=""><img src="">Spotisearcher</a>
        </h1>
      </header>

      <nav class='nav navbar-default col-xs-12 col-sm-6 col-md-6 '>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Contatti</a></li>
        </ul>
      </nav>

    </div>
    
  </div>
  <div class='container-fluid col-md-12 text-center' style='padding: 20px 0' ng-controller='SearchCtrl'>  
    <div class='row' id='search-box'>
      
      <form id="search-form" class='form-inline' method='post' ng-controller='SearchFormCtrl' ng-submit='sendSearchRequest(searchString)'>
        <div class='form-group'>
          <label class='' for='searchString'>Search</label>
        </div>
        <div class='form-group'>
          <input name='text' id='searchString' value='foo' class='col-sm-4 col-md-4 form-control' ng-model='$parent.searchString' autofocus/>
        </div>
        <div class='form-group'>
          <input type='submit' name='search' value='GO' class='btn btn-default' />
        </div>  
      </form>

    </div>
    
    <div class='container-fluid' style='padding: 20px 10%;' >
      <div class='row'>
        <div ng-show="searchResults.artists.length > 0">
          <p>Search for "{{searchString}}"</p>
        </div>
        <div ng-view></div>

      </div>
    </div>
  </div>
<!--
    <footer class='row'>
      <p>&copy MomaPIX</p>
    </footer>
  -->

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="js/spotisearcher.js"></script>
 <!-- 
-->
<!--
  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/angular-resource.js"></script>
  <script type="text/javascript" src="js/angular-route.js"></script>
-->
</body>
</html>