<div>
	<img src="">
	<h3>{{name}}</h3>
	<div id='discography-box'>
		<h3>Discography</h3>
		<div class='album-box col-sm-4 col-md-3 '>
			<h5 class='album-title'></h5>
			<img ng-src="" >
		</div>
	</div>
</div>