<div ng-repeat='result in searchResults.artists.items' class='result-box col-xs-6 col-sm-4 col-md-3' ng-style="{'background-image': 'url({{result.images[0].url}})'}">
          <a href="#" ng-click='showArtistDetails(result.id)'>
            <h3>{{result.name}}</h3>
            <img ng-src="{{result.images[0].url}}" class='img-responsive hidden' style=' top: 0; left: 0;'  />
          </a>
        </div>